/*Start global*/
*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html{
	font-size: 10px;
	font-family: sans-serif;
	color: #eee;
}

body{
	width: 100%;
	height: 100%;
	background: url("images1/6.jpg") no-repeat center fixed;
	color: #eee;
	background-size: cover;
}

section{
	padding: 6rem;
}
a{
	text-decoration: none;
	color: #eee;
}

p{
	font-size: 1.8rem;
	font-weight: 300;
}

img{
	width: 100%;
}
/*End global*/

/*Start reusable*/
.container{
	width: 90%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.section-heading{
	text-align: center;
	margin-bottom: 10rem;

}

.section-heading h1{
font-size: 3.5rem;
color: rgba(255,255,255, .3);
text-transform: uppercase;
font-weight: 300;
position: relative;
margin-bottom: 1 rem;
}

.section-heading h1::before,
.section-heading h1::after{
	content: '';
	position: absolute;
	bottom: -0.5rem;
	left:50%;
	transform: translateX(-50%);
	background-color: rgba(255,255,255, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}
.section-heading h6{
font-size: 1.6rem;
font-weight: 300;
margin:1rem;
}

.has-margin-right{
	margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
	width:100%;
	height:100vh;	
}

.top-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background-color: #232327;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
list-style: none;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

li{
	margin: 0 2rem;
}

.nav-link {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  padding: 1rem;
  color: white;
}

.nav-link:hover,
.nav-link:focus{
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.top-nav.open{
	top:0;
	border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 1555;
  transition: transform 650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}

.bar{
	background: linear-gradient(to right, #ffe838, #fd57bf);
	width: 100%;
	height: 4px;
	border-radius: 0.8rem;
}
.bar.half{
	width: 50%;
}

.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54,-0.81, 0.57, 0.57)
}

.open .bar.start{
	transform: rotate(-450deg) translateX(-0.8rem);
}

.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54,-0.81, 0.57, 0.57)
}

.open .bar.end{
	transform: rotate(-450deg) translateX(0.8rem);
}


.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 10rem;
  font-family: 'Pacifico', cursive;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}
/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  margin-right: 5rem;
  flex: 1;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-twitter-square:hover {
  color: #38a1f3;
}

.fa-github-square:hover {
  color: green;
}
/*End about*/

/*Start services*/
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #6b6262;
  background-color: #b16722;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: #ffffff;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/*End services*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
} 

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-description {
  flex: 1;
}
.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description h1 {
  font-size: 3rem;

  font-weight: 300;
}
.portfolio-description .cta{

    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: lightskyblue;
    transition: color 650ms;

}
.portfolio-description .cta:hover{
    color: #2f67cd;
}
/*End services*/




/*Start contact*/
.contact{
    /* background-color: rgba(167, 163, 163, 0.3); */
}

form{
    width: 70%;
    margin:0 auto;
}

form label{
    font-size: 1.5rem;
}

input,select,textarea{
    width: 100%;
    padding: 1rem;
    margin-top: 5px;
    border: none;
    outline-color: palevioletred;
}

input[type="submit"]{
    width: initial;
    background-color: rgb(216, 79, 79);
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{

    color: #16162d;
    background-color: #bba924;

}
/*End contact*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #232327;
    padding: 2rem 0;
    position: relative;
}

. up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;


}
.copyright p{
    font-size: 1.5rem;
}
.conhr {
    border: 1px solid whitesmoke;
    border-radius: 200px;
    width: 500px;
    align-content: center;
    margin: 10px 0px 10px 315px;
    
}

.madewithlove{
    
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 1px;
}

.fa-heart{
    color: red;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(185, 127, 40, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(194, 183, 37, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(196, 132, 48, 0.99);
    }
}


/*End footer*/

/*Start animations*/
/*End animations*/

/*Start media queries*/
@media screen and (max-width: 760px){
    body{
  background: url("images1/6.jpg") no-repeat center fixed;
  background-size: cover;
    }

    .landing-text h1{
        font-size: 13rem;
    }
    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;

    }

    .nav-link{
        font-size: 3.7rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }
    .section-heading h1{
        font-size: 3.2rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;

    }

    .icon-container i{
        font-size: 4rem;
    }

}

@media screen and (max-width: 600px){
    .menu-toggler{
        top: 4rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 9rem;
    }
    .landing-text h6{
        font-size: 1.4rem;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
        height: 60%;
        width: 60%;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }

    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }

    
}
/*End media queries*/